@import '../../styles/variables';


.playerCard {
  width: 300px !important;
  height: 400px !important;
  margin: 1em 1em;
  .card-img-overlay {
    padding: 0px 0px !important;
  }
  .team {
    position: absolute;
    transform: rotate(90deg);
    background-color: $secondaryColor;
    padding-left: 110px;
    padding-right: 190px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 4.2em;
    margin-top: 9.3em;
    font-family: dodgersFont, serif ;
    color: $primaryColor; 
    font-size: 20px;
    opacity: 75%;
    
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } 
  .info{
    margin-top: 18em;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-radius: 50px 5px 50px 5px;
    border: $secondaryColor 2px dashed;
    // top-left top-right bttom-right bottom-left
  }
}


.flip-card {
  background-color: transparent;
  perspective: 1000px; }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  .flip-card-back {
    background-image: url(../../assets//baseball-card-back.jpg);
    color: white;
    border: black solid 1px;
    transform: rotateY(180deg);
  }
